<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
    </head>
    <body>
        <ul>
            <li>1</li>
            <li>2</li>
            <!-- This will replace the 3rd item each time a new item is added-->
            <li><%= newListItem %></li>
        </ul>

        <form action="/" method="post">
            <input type="text" name="newItem">
            <button type="submit" name="button">Add</button>
        </form>
        

    </body>
</html>